---
layout: posts
title: Home
---
<div class="flex-container">
    {% include header.html %}
    {% include advertising.html %}
    <div class="projects-content">
    <section id="projects">
        {% include tag-filters.html %}
        {% include posts.html %}
         
        
    </section>


<div id="spig" class="spig">
    <div id="message">Is loading……</div>
    <div id="mumu" class="mumu"></div>
</div>-->



<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="js/jquery.xiaoren.js"></script>
<script type="text/javascript" src="js/spig.js"></script>
<link rel="stylesheet" href="css/xiaoren.css" type="text/css"/>
<script type="text/javascript">
var isindex = true;
var visitor = true;
</script>
