---
layout: posts
title: Home
---
<div class="flex-container">
    {% include header.html %}
    <div class="projects-content">
    <section id="projects">
        {% include tag-filters.html %}
        {% include posts.html %}
    </section>

<!DOCTYPE html>
<html lang="en">

        <head>
            <meta name="google-site-verification" content="YMmRhK0Wj02wUriCfH5XKvP379CIgT0QXU0ZLK0m7hA" />
        
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128890200-1"></script>
        
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'GA_TRACKING_ID');
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128890200-1');
</script>

  </head>
        <script type="text/javascript"> 
    var adfly_id = 11406617; 
    var adfly_advert = 'int'; 
    var popunder = true; 
    var domains = ['depositfiles.com', 'rapidshare.com', 'vip-file.com', 'smsfiles.ru', '4files.net', 'turbobit.ru', 'uploading.com', 'letitbit.net', 'depositfiles.ru', 'sms4file.com', 'ifolder.ru', 'hotfile.com', 'anyfiles.net', 'sharingmatrix.com', 'megashare.com', 'megaupload.com', 'rapidshare.de', 'rapidshare.ru', 'uploadbox.com', 'filefactory.com', 'filefactory.ru', 'filepost.ru', 'onefile.net', 'freefolder.net', 'getthebit.com', 'turbobit.net']; 
</script> 
        <script>

  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6505593688647550",
    enable_page_level_ads: true
  });

</html>
