<script src="//unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
<script src="//unpkg.com/isotope-packery@2.0.1/packery-mode.pkgd.js"></script>
<script src="//unpkg.com/imagesloaded@4.1.4/imagesloaded.pkgd.js"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
<div class="copyright py-4 text-center text-white">
      <div class="container">
        <li><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="downloads.github.io/privacy.html">Privacy</a></li>
        <li><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="downloads.github.io/terms.html">Terms of service</a></li>
        <small>Copyright &copy; Game Doper 2015</small>
      </div>
    </div>
