<header class="main-header">
    
    <div class="wrapper">
        <div class="header-flex">
            <div class="left-header-container">
                <a href="{{site.projects_url}}"> {{ site.projects_title }} </a>
                <a href="{{site.about_url}}"> {{ site.about_title }} </a>
               
            </div>
            <div class="center-header-container">
                <div class="logo">
            <img src="https://raw.githubusercontent.com/Gamedoper/gamedoperblog.github.io/master/images/IMG_0020.PNG">
                </div>
                {% include social-links.html %}
            </div>
            <div class="right-header-container">
                <a href="/_pages/privacy.html">Privacy</a>
                 <a href="/_pages/terms.html">Terms</a>
                
            </div>
        </div>
    </div>
</header> <!-- End Header -->
