<div class="container-fluid">
    <div class="post-grid">
        <div class="grid-sizer col-xs-12 col-sm-6 col-md-6 col-lg-4"></div>
        {% for post in site.posts %}
        <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4 {{ post.tags | join: ' ' }}">
            <a href="{{post.url | prepend: site.baseurl}}">
                <div class="grid-item-content">
                    <div class="card">
                        <div class="card-img-top">
                            {% if post.image %}
                            <img src="{{ "/assets/img/" | prepend: site.baseurl | append: post.image }}">
                            {% endif %}
                            {% if post.type == 'video' %}
                            <span class="play-button-icon fa-stack fa-lg">
                              <i class="fas fa-square fa-stack-1x"></i>
                              <i class="fab youtube-logo fa-youtube fa-stack-2x"></i>
                            </span>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{post.url | prepend: site.baseurl}}"> {{ post.title }} </a>
                            </h4>
                            <div class="card-text">
                                <div>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</div>
                                <small class="text-muted">{{post.date |  date: '%b %d, %Y'}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <section class="page__share">
  
    <h4 class="page__share-title">Share on</h4>
  

  <a href="https://twitter.com/intent/tweet?via=mbcrump&text=Getting+Sublime+3+To+Launch+your+HTML+page+in+a+Browser+with+a+Key+Combo%20https%3A%2F%2Fwww.michaelcrump.net%2Fgetting-sublime-3-to-launch-your-html-page-in-a-browser-with-a-key-combo%2F" class="btn btn--twitter" title="Share on Twitter"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i><span> Twitter</span></a>

  <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.michaelcrump.net%2Fgetting-sublime-3-to-launch-your-html-page-in-a-browser-with-a-key-combo%2F" class="btn btn--facebook" title="Share on Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>

  <a href="https://plus.google.com/share?url=https%3A%2F%2Fwww.michaelcrump.net%2Fgetting-sublime-3-to-launch-your-html-page-in-a-browser-with-a-key-combo%2F" class="btn btn--google-plus" title="Share on Google Plus"><i class="fa fa-fw fa-google-plus" aria-hidden="true"></i><span> Google+</span></a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.michaelcrump.net%2Fgetting-sublime-3-to-launch-your-html-page-in-a-browser-with-a-key-combo%2F" class="btn btn--linkedin" title="Share on LinkedIn"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>
</section>
        </div>
       
                            
        {% endfor %}
    </div>
</div>
 <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://gamedoper-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
